@font-face {
    font-family: "Segoe UI Light";
    src: url("fonts/Segoe\ UI\ Light.ttf");
}
@font-face {
    font-family: "Segoe UI Semilight";
    src: url("fonts/Segoe\ UI\ Semilight.ttf");
}
body {
    font-family: "Segoe UI Semilight";
    text-shadow: 0px 1.5px 2.5px black;
    color: white;
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
}
.taskbar {
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    background-color: rgba(255,255,255,0.5);
}
.taskbar img,.taskbar div {
    height: 40px;
    width: auto;
}
.taskbar img:hover {
    background-color: rgba(255,255,255,0.5);
}
.taskbar .start-button {
    margin-right: 8px;
}
.start-button {
    background-image: url("images/start_button/normal.png");
    background-size: 48px;
    background-repeat: no-repeat;
}
.start-button:hover {
    background-image: url("images/start_button/hover.png");
}
.start-button:focus,.start-button:active {
    background-image: url("images/start_button/pressed.png");
}
.icons-box {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}
.icon-box {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: white;
    word-wrap: break-word;
}
.icons-box .icon {
    width: 64px;
    height: 64px;
    padding: 5px;
}
.taskbar .icon {
    width: 48px;
    height: 48px;
}
.icon-box:hover .icon {
    background-color: rgba(0,200,255,0.5);
    border: 1px solid rgba(0,200,255,0.75);
    margin: -1px;
}