/*Define Fonts*/
@font-face {
    font-family: "Segoe UI Light";
    src: url("fonts/Segoe\ UI\ Light.ttf");
}
@font-face {
    font-family: "Segoe UI Semilight";
    src: url("fonts/Segoe\ UI\ Semilight.ttf");
}
body {
    color: white;
    background-image: url("images/wallpaper.jpg");
    background-size: cover;
    user-select: none;
}
.custom-cursor {
    cursor: url("images/cursor.png"),auto;
}
.segoe-ui {
    font-family: "Segoe UI Semilight";
}
/*Task Bar Styles*/
.taskbar {
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 48px;
    background-color: rgba(0,0,0,0.2);
    z-index: 2;
}
.taskbar img,.taskbar div {
    height: 40px;
    width: auto;
    margin-right: 8px;
}
.taskbar img:hover {
    background-color: rgba(255,255,255,0.5);
}
.taskbar .start-button {
    margin-right: 8px;
}
/*Start Button Styles*/
.start-button {
    background-image: url("images/start_button/normal.png");
    background-size: 48px;
    background-repeat: no-repeat;
}
.start-button:hover {
    background-image: url("images/start_button/hover.png");
}
.start-button:focus,.start-button:active {
    background-image: url("images/start_button/normal.png");
}
/*Icon Styles*/
.icons-box {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 16px;
}
.icon-box {
    text-shadow: 0px 1.5px 2.5px black;
    font-family: "Segoe UI Semilight";
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color: white;
    word-wrap: break-word;
}
.icons-box .icon {
    width: 64px;
    height: 64px;
    padding: 5px;
}
.taskbar .icon {
    width: 48px;
    height: 48px;
}
.icon-box:hover .icon,.icon-box:focus .icon {
    background-color: rgba(0,200,255,0.5);
    border: 1px solid rgba(0,200,255,0.75);
    margin: -1px;
}
.icon-box:focus .icon {
    filter: brightness(0.8);
}
/*Title Bar Styles*/
.title-bar {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
.title-bar.grab-cursor {
    cursor: grab;
}
.title-bar span {
    color: black;
}
.title-bar button {
    margin-right: 6px;
}
.title-bar.grab-cursor:active {
    cursor: grabbing;
}
.title-bar.hide {
    opacity: 0;
    transition: opacity 0.25s ease;
}
.title-bar.hide:hover {
    opacity: 1;
}
.title-bar .close {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 27px;
    border: none;
    background-color: rgb(207,84,77);
    color: white;
    width: 48px;
}
.title-bar .close:hover {
    background-color: rgb(187,64,57);
}
/*Window Styles*/
.window.example {
    left: calc(50% - 27.5%);
    top: calc(50% - 27.5% - 24px);
    width: 55%;
    height: 55%;
}
.window {
    font-family: "Segoe UI Semilight";
    position: absolute;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.25);
}
.window .win-content {
    margin-top: 32px;
    margin-left: 6px;
    color: black;
}
/*Button Styles*/
button:not(.close) {
    border: 1.5px solid rgb(150,150,150);
    background-color: rgb(230,230,230);
    font-family: "Segoe UI Semilight";
    padding: 2px;
    min-width: 80px;
    transition: all 0.5s ease;
}
button:hover {
    border: 1.5px solid rgb(120,200,255);
    background-color: rgb(190,235,255);
}
button:active {
    border: 1.5px solid rgb(55,160,230);
    background-color: rgb(140,220,255);
}
/*Check Box Styles*/
input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border: 1px solid black;
    background-color: white;
    position: relative;
}
input[type=checkbox]:hover {
    border: 1px solid rgb(0,60,200);
}
input[type=checkbox]:checked::before {
    content: "\2714";
    font-size: 14px;
    position: absolute;
    left: 2px;
    top: -1px;
}
